/* Globals */
@import 'global/variables';
@import 'global/functions';
@import 'global/mixins';


@import 'base/reset';
@import 'base/typography';


/* Layout */
@import 'layout/header';
@import 'layout/menu';
@import 'layout/submenu';
@import 'layout/sidebar';


@import 'templates/blog';

/* $GENERIC STYLES */


body {
    line-height: 1.4em;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: $white;
    padding: 20px;
}

header {
    margin: 15px 0;
}



blockquote {
    padding: 1em;
    margin: 15px 0;
}
    /* $Modifiers */
    .is-error {
        color: $white;
        background-color: $error-background;
        border: 1px solid $error-border;
    }
    .is-code {
        background-color: $soft-gray;
        border: 1px solid $dark-gray;
    }

    .is-warning {
        color: #8F6F40;
        font-style: italic;
        background-color: $warning-background;
        border: 1px solid $warning-border;
    }

code {
    color: $black;
    font-family: monospace;
    background-color: $soft-gray;
    padding: 3px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    line-height: 1.1em;
}

.content-submenu {
    color: $white;
    text-align: center;
    background-color: #3E4651;
    -moz-display: flex;
    -webkit-display: flex;
    display: flex;
    -moz-justify-content: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    transition-property: background-color, color;
    transition-duration: .5s;
    transition-timing-function: ease-out;
}
.content-submenu a {
    color: $white;
    text-decoration: none;
    padding: 15px;
    cursor: pointer;
    display: inline-block;
    border-bottom: none;
}

.content-submenu li:hover a {
    color: #3E4651;
    /*transition-property: background-color, color;
    transition-duration: 1s;
    transition-timing-function: ease-out;*/
}
.content-submenu li:hover {
    color: #3E4651;
    background-color: $white;
    transition-property: background-color, color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

/* $Examples */
.example {
    font-weight: 300;
    margin: 20px 0;
    padding: 20px;
    background: $light-gray;
}

.column-width {
    -webkit-column-width: 200px;
    -moz-column-width: 200px;
    column-width: 200px;
}

.column-count {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

.column-gap {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 6em;
    -moz-column-gap: 6em;
    column-gap: 6em;
}

.column-rule {
    -webkit-column-width: 200px;
    -moz-column-width: 200px;
    column-width: 200px;
    -webkit-column-rule: 2px dotted $black;
    -moz-column-rule: 2px dotted $black;
    column-rule: 2px dotted $black;
}

.column-span {
    -webkit-column-span: all;
    -moz-column-span: all;
    column-span: all;
}