/* $GENERIC STYLES */
html {
    background-color: #eef2f2;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

body {
    line-height: 1.4em;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
}

header {
    margin: 15px 0;
}

h1, h2, h3 {
    font-weight: normal;
    color: #3B3F4C;
    line-height: 1.4em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

a {
    color: #0F3057;
    text-decoration: none;
    border-bottom: 1px dotted #0F3057;
}

blockquote {
    padding: 1em;
    margin: 15px 0;
}
    /* $Modifiers */
    .is-error {
        color: #fff;
        background-color: #FF6766;
        border: 1px solid #CF000F;
    }
    .is-code {
        background-color: #c3c3c3;
        border: 1px solid #A3A3A3;
    }

    .is-warning {
        color: #8F6F40;
        font-style: italic;
        background-color: #E7DF86;
        border: 1px solid #C0BA78;
    }

code {
    color: #000;
    font-family: monospace;
    background-color: #c3c3c3;
    padding: 3px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    line-height: 1.1em;
}

.content-submenu {
    color: #fff;
    text-align: center;
    background-color: #3E4651;
    -moz-display: flex;
    -webkit-display: flex;
    display: flex;
    -moz-justify-content: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    transition-property: background-color, color;
    transition-duration: .5s;
    transition-timing-function: ease-out;
}
.content-submenu a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    cursor: pointer;
    display: inline-block;
    border-bottom: none;
}

.content-submenu li:hover a {
    color: #3E4651;
    /*transition-property: background-color, color;
    transition-duration: 1s;
    transition-timing-function: ease-out;*/
}
.content-submenu li:hover {
    color: #3E4651;
    background-color: #fff;
    transition-property: background-color, color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

/* $Examples */
.example {
    font-weight: 300;
    margin: 20px 0;
    padding: 20px;
    background: #eee;
}

.column-width {
    -webkit-column-width: 200px;
    -moz-column-width: 200px;
    column-width: 200px;
}

.column-count {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

.column-gap {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 6em;
    -moz-column-gap: 6em;
    column-gap: 6em;
}

.column-rule {
    -webkit-column-width: 200px;
    -moz-column-width: 200px;
    column-width: 200px;
    -webkit-column-rule: 2px dotted #000;
    -moz-column-rule: 2px dotted #000;
    column-rule: 2px dotted #000;
}

.column-span {
    -webkit-column-span: all;
    -moz-column-span: all;
    column-span: all;
}
