$font-family: 'Roboto', sans-serif;

$white: #fff;
$black: #000;

$error-background: #FF6766;
$error-border: #CF000F;

$warning-background: #E7DF86;
$warning-border: #C0BA78;

$soft-gray: #c3c3c3;
$dark-gray: #A3A3A3;
$light-gray: #CCC;

$headers-color: #3B3F4C;