<aside class="nav-bar">
    <nav>
        <p>In this section you can find:
        <ul>
            <li>
                <ul>
                    <li><a href="#column-width">Column width</a></li>
                    <li><a href="#column-count">Column count</a></li>
                    <li><a href="#column-gutters">Column gutters</a></li>
                    <li><a href="#column-rule">Column rule</a></li>
                    <li><a href="#column-span">Column span</a></li>
                </ul>
            </li>
        </ul>
        </p>
    </nav>
</aside>